<weather-widget [widgetHeader]="altWidgetHeader"
                [widgetContent]="altWidgetContent"
                [widgetActions]="altWidgetActions"></weather-widget>

<ng-template #altWidgetHeader>
  <div class="alt-header">Today's weather</div>
</ng-template>

<ng-template #altWidgetContent let-state>
  <div>
    <span>{{state.temperature}}°C</span> -
    <span>{{ state.skyCondition === 'sunny' ? '☀️' : '☁️' }}</span> -
    <span>{{state.windspeed}}m/s</span>
  </div>
</ng-template>

<ng-template #altWidgetActions>
  <app-weather-custom-action></app-weather-custom-action>
</ng-template>
